{% extends 'flatpages/default.html' %}
{% block title %} Category list {% endblock title %}
{% block content %}
<br>
<br>
<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th colspan="3" scope="col">Категории</th>
  </tr>
  <tr>
    <td align="center">id</td>
    <td align="center">название</td>
    <td align="center">действие</td>
  </tr>
    {% for cat in category_list %}
    <tr>
    <td align="left">{{ cat.id }}</td>
    <td align="left">{{ cat.name }}</td>
    <td align="left"><a href="{% url 'subscribe' cat.id %}">Подписаться</a></td>
  </tr>
    {% endfor %}
</table>




{% endblock content %}